<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.28.0.154505</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1118.5601, 782.89001}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-04-18 20:44:04 +0000</string>
	<key>Creator</key>
	<string>Pericles Rafael</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{745, 314}, {95.712891, 37.808594}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>49</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-1, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 10%\
(D &gt; 5330)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{761.64648, 276.38281}, {60.703125, 37.808594}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-1, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Outliers}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>47</integer>
			<key>Points</key>
			<array>
				<string>{754, 313}</string>
				<string>{829.99609, 313}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{754, 158}, {75.996094, 212}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-1, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>tiff</key>
						<data>
						TU0AKgAAAQhFRUVnRUVFZ0VFRWdF
						RUVnRUVFZ/7//v9FRUVnRUVFZ0VF
						RWdFRUVnRUVFZ0VFRWdFRUVnRUVF
						Z/7//v9FRUVnRUVFZ0VFRWdFRUVn
						RUVFZ0VFRWdFRUVnRUVFZ/7//v/+
						//7/RUVFZ0VFRWdFRUVnRUVFZ0VF
						RWdFRUVnRUVFZ0VFRWf+//7/RUVF
						Z0VFRWdFRUVnRUVFZ0VFRWdFRUVn
						RUVFZ0VFRWf+//7/RUVFZ0VFRWdF
						RUVnRUVFZ0VFRWdFRUVnRUVFZ0VF
						RWf+//7/RUVFZ0VFRWdFRUVnRUVF
						Z0VFRWdFRUVnRUVFZ0VFRWf+//7/
						RUVFZ0VFRWdFRUVnAA4BAAADAAAA
						AQAIAAABAQADAAAAAQAIAAABAgAD
						AAAABAAAAbYBAwADAAAAAQABAAAB
						BgADAAAAAQACAAABEQAEAAAAAQAA
						AAgBEgADAAAAAQABAAABFQADAAAA
						AQAEAAABFgADAAAAAQAIAAABFwAE
						AAAAAQAAAQABHAADAAAAAQABAAAB
						UgADAAAAAQABAAABUwADAAAABAAA
						Ab6HcwAHAAAMSAAAAcYAAAAAAAgA
						CAAIAAgAAQABAAEAAQAADEhMaW5v
						AhAAAG1udHJSR0IgWFlaIAfOAAIA
						CQAGADEAAGFjc3BNU0ZUAAAAAElF
						QyBzUkdCAAAAAAAAAAAAAAAAAAD2
						1gABAAAAANMtSFAgIAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAEWNw
						cnQAAAFQAAAAM2Rlc2MAAAGEAAAA
						bHd0cHQAAAHwAAAAFGJrcHQAAAIE
						AAAAFHJYWVoAAAIYAAAAFGdYWVoA
						AAIsAAAAFGJYWVoAAAJAAAAAFGRt
						bmQAAAJUAAAAcGRtZGQAAALEAAAA
						iHZ1ZWQAAANMAAAAhnZpZXcAAAPU
						AAAAJGx1bWkAAAP4AAAAFG1lYXMA
						AAQMAAAAJHRlY2gAAAQwAAAADHJU
						UkMAAAQ8AAAIDGdUUkMAAAQ8AAAI
						DGJUUkMAAAQ8AAAIDHRleHQAAAAA
						Q29weXJpZ2h0IChjKSAxOTk4IEhl
						d2xldHQtUGFja2FyZCBDb21wYW55
						AABkZXNjAAAAAAAAABJzUkdCIElF
						QzYxOTY2LTIuMQAAAAAAAAAAAAAA
						EnNSR0IgSUVDNjE5NjYtMi4xAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAABYWVogAAAAAAAA81EAAQAA
						AAEWzFhZWiAAAAAAAAAAAAAAAAAA
						AAAAWFlaIAAAAAAAAG+iAAA49QAA
						A5BYWVogAAAAAAAAYpkAALeFAAAY
						2lhZWiAAAAAAAAAkoAAAD4QAALbP
						ZGVzYwAAAAAAAAAWSUVDIGh0dHA6
						Ly93d3cuaWVjLmNoAAAAAAAAAAAA
						AAAWSUVDIGh0dHA6Ly93d3cuaWVj
						LmNoAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAGRlc2MAAAAAAAAALklF
						QyA2MTk2Ni0yLjEgRGVmYXVsdCBS
						R0IgY29sb3VyIHNwYWNlIC0gc1JH
						QgAAAAAAAAAAAAAALklFQyA2MTk2
						Ni0yLjEgRGVmYXVsdCBSR0IgY29s
						b3VyIHNwYWNlIC0gc1JHQgAAAAAA
						AAAAAAAAAAAAAAAAAAAAAABkZXNj
						AAAAAAAAACxSZWZlcmVuY2UgVmll
						d2luZyBDb25kaXRpb24gaW4gSUVD
						NjE5NjYtMi4xAAAAAAAAAAAAAAAs
						UmVmZXJlbmNlIFZpZXdpbmcgQ29u
						ZGl0aW9uIGluIElFQzYxOTY2LTIu
						MQAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAdmlldwAAAAAAE6T+ABRf
						LgAQzxQAA+3MAAQTCwADXJ4AAAAB
						WFlaIAAAAAAATAlWAFAAAABXH+dt
						ZWFzAAAAAAAAAAEAAAAAAAAAAAAA
						AAAAAAAAAAACjwAAAAJzaWcgAAAA
						AENSVCBjdXJ2AAAAAAAABAAAAAAF
						AAoADwAUABkAHgAjACgALQAyADcA
						OwBAAEUASgBPAFQAWQBeAGMAaABt
						AHIAdwB8AIEAhgCLAJAAlQCaAJ8A
						pACpAK4AsgC3ALwAwQDGAMsA0ADV
						ANsA4ADlAOsA8AD2APsBAQEHAQ0B
						EwEZAR8BJQErATIBOAE+AUUBTAFS
						AVkBYAFnAW4BdQF8AYMBiwGSAZoB
						oQGpAbEBuQHBAckB0QHZAeEB6QHy
						AfoCAwIMAhQCHQImAi8COAJBAksC
						VAJdAmcCcQJ6AoQCjgKYAqICrAK2
						AsECywLVAuAC6wL1AwADCwMWAyED
						LQM4A0MDTwNaA2YDcgN+A4oDlgOi
						A64DugPHA9MD4APsA/kEBgQTBCAE
						LQQ7BEgEVQRjBHEEfgSMBJoEqAS2
						BMQE0wThBPAE/gUNBRwFKwU6BUkF
						WAVnBXcFhgWWBaYFtQXFBdUF5QX2
						BgYGFgYnBjcGSAZZBmoGewaMBp0G
						rwbABtEG4wb1BwcHGQcrBz0HTwdh
						B3QHhgeZB6wHvwfSB+UH+AgLCB8I
						MghGCFoIbgiCCJYIqgi+CNII5wj7
						CRAJJQk6CU8JZAl5CY8JpAm6Cc8J
						5Qn7ChEKJwo9ClQKagqBCpgKrgrF
						CtwK8wsLCyILOQtRC2kLgAuYC7AL
						yAvhC/kMEgwqDEMMXAx1DI4MpwzA
						DNkM8w0NDSYNQA1aDXQNjg2pDcMN
						3g34DhMOLg5JDmQOfw6bDrYO0g7u
						DwkPJQ9BD14Peg+WD7MPzw/sEAkQ
						JhBDEGEQfhCbELkQ1xD1ERMRMRFP
						EW0RjBGqEckR6BIHEiYSRRJkEoQS
						oxLDEuMTAxMjE0MTYxODE6QTxRPl
						FAYUJxRJFGoUixStFM4U8BUSFTQV
						VhV4FZsVvRXgFgMWJhZJFmwWjxay
						FtYW+hcdF0EXZReJF64X0hf3GBsY
						QBhlGIoYrxjVGPoZIBlFGWsZkRm3
						Gd0aBBoqGlEadxqeGsUa7BsUGzsb
						YxuKG7Ib2hwCHCocUhx7HKMczBz1
						HR4dRx1wHZkdwx3sHhYeQB5qHpQe
						vh7pHxMfPh9pH5Qfvx/qIBUgQSBs
						IJggxCDwIRwhSCF1IaEhziH7Iici
						VSKCIq8i3SMKIzgjZiOUI8Ij8CQf
						JE0kfCSrJNolCSU4JWgllyXHJfcm
						JyZXJocmtyboJxgnSSd6J6sn3CgN
						KD8ocSiiKNQpBik4KWspnSnQKgIq
						NSpoKpsqzysCKzYraSudK9EsBSw5
						LG4soizXLQwtQS12Last4S4WLkwu
						gi63Lu4vJC9aL5Evxy/+MDUwbDCk
						MNsxEjFKMYIxujHyMioyYzKbMtQz
						DTNGM38zuDPxNCs0ZTSeNNg1EzVN
						NYc1wjX9Njc2cjauNuk3JDdgN5w3
						1zgUOFA4jDjIOQU5Qjl/Obw5+To2
						OnQ6sjrvOy07azuqO+g8JzxlPKQ8
						4z0iPWE9oT3gPiA+YD6gPuA/IT9h
						P6I/4kAjQGRApkDnQSlBakGsQe5C
						MEJyQrVC90M6Q31DwEQDREdEikTO
						RRJFVUWaRd5GIkZnRqtG8Ec1R3tH
						wEgFSEtIkUjXSR1JY0mpSfBKN0p9
						SsRLDEtTS5pL4kwqTHJMuk0CTUpN
						k03cTiVObk63TwBPSU+TT91QJ1Bx
						ULtRBlFQUZtR5lIxUnxSx1MTU19T
						qlP2VEJUj1TbVShVdVXCVg9WXFap
						VvdXRFeSV+BYL1h9WMtZGllpWbha
						B1pWWqZa9VtFW5Vb5Vw1XIZc1l0n
						XXhdyV4aXmxevV8PX2Ffs2AFYFdg
						qmD8YU9homH1YklinGLwY0Njl2Pr
						ZEBklGTpZT1lkmXnZj1mkmboZz1n
						k2fpaD9olmjsaUNpmmnxakhqn2r3
						a09rp2v/bFdsr20IbWBtuW4Sbmtu
						xG8eb3hv0XArcIZw4HE6cZVx8HJL
						cqZzAXNdc7h0FHRwdMx1KHWFdeF2
						Pnabdvh3VnezeBF4bnjMeSp5iXnn
						ekZ6pXsEe2N7wnwhfIF84X1BfaF+
						AX5ifsJ/I3+Ef+WAR4CogQqBa4HN
						gjCCkoL0g1eDuoQdhICE44VHhauG
						DoZyhteHO4efiASIaYjOiTOJmYn+
						imSKyoswi5aL/IxjjMqNMY2Yjf+O
						Zo7OjzaPnpAGkG6Q1pE/kaiSEZJ6
						kuOTTZO2lCCUipT0lV+VyZY0lp+X
						Cpd1l+CYTJi4mSSZkJn8mmia1ZtC
						m6+cHJyJnPedZJ3SnkCerp8dn4uf
						+qBpoNihR6G2oiailqMGo3aj5qRW
						pMelOKWpphqmi6b9p26n4KhSqMSp
						N6mpqhyqj6sCq3Wr6axcrNCtRK24
						ri2uoa8Wr4uwALB1sOqxYLHWskuy
						wrM4s660JbSctRO1irYBtnm28Ldo
						t+C4WbjRuUq5wro7urW7LrunvCG8
						m70VvY++Cr6Evv+/er/1wHDA7MFn
						wePCX8Lbw1jD1MRRxM7FS8XIxkbG
						w8dBx7/IPci8yTrJuco4yrfLNsu2
						zDXMtc01zbXONs62zzfPuNA50LrR
						PNG+0j/SwdNE08bUSdTL1U7V0dZV
						1tjXXNfg2GTY6Nls2fHadtr724Dc
						BdyK3RDdlt4c3qLfKd+v4DbgveFE
						4cziU+Lb42Pj6+Rz5PzlhOYN5pbn
						H+ep6DLovOlG6dDqW+rl63Dr++yG
						7RHtnO4o7rTvQO/M8Fjw5fFy8f/y
						jPMZ86f0NPTC9VD13vZt9vv3ivgZ
						+Kj5OPnH+lf65/t3/Af8mP0p/br+
						S/7c/23//w==
						</data>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{73.918274, 149}, {760.26935, 243.34378}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>50</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-04-18 20:56:38 +0000</string>
	<key>Modifier</key>
	<string>Pericles Rafael</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2Wg+zRFESD9nhSRIY=</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{187, 4}, {1253, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 32}, {1104, 704}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
